html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 2040px;
  margin: 0 auto;
  text-align: center;
}

.memreport-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.datagrid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.react-data-grid {
  flex: 1;
}